<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/header.ejs") %>
    <div class="container">
      <form action="/animals" method="post">
        <h1>Edit <%= animal.species %></h1>
        <label
          >Species:
          <input type="text" name="species" placeholder="<%= animal.species %>"
        /></label>
        <label>Extinct? <input type="checkbox" name="extinct" /></label>
        <label
          >Location:
          <input type="text" name="location" placeholder="<%= animal.location %>" /></label
        >
        <label
          >Life Expectancy:
          <input
            type="number"
            name="lifeExpectancy"
            placeholder="<%= animal.lifeExpectancy %>"
        /></label>
        <button class="btn btn-success">Update <%= animal.species %></button>
      </form>
      <a href="/animals" class="btn btn-primary" role="button">Back to Main</a>
    </div>
  </body>
</html>
